ul
    display grid 
    grid-template-columns repeat(auto-fill, 15rem)
    grid-gap .5rem
    margin 0
    padding 2rem
    li
        list-style none
        background-color #fafafa
        padding 1rem
        text-align center
        h4
            margin 0 0 1rem 0
    ul
        padding 0
        margin 0 0 1rem 0
        display flex
        align-items center
        justify-content center
        flex-direction column
        li
            padding 0;